
.header {
    z-index: 5;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.actions-header {
    background-color: #282a2e;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    border-bottom: 2px solid grey;
}

.actions-header a {
    outline: none;
}

.actions-header .header-action {
    color: #fbfbfb;
    vertical-align: middle;
}

.actions-header .header-action:hover {
    background-color: #505255;
    border-top: 1px solid #fbfbfb;
    border-bottom: 1px solid #fbfbfb;
}

.actions-header .padded-header-action {
    padding-left: 3px;
    padding-right: 3px;
}

.actions-header .header-action-section {
    border-right: 1px solid #fbfbfb;
    border-left: 1px solid #fbfbfb;
    vertical-align: middle;
}

.menu-sidebar-opener {
    font-size: 28px;
    padding-right: 50px;
    color: #fbfbfb;
    vertical-align: middle;
}

.header-remove-action {
    font-size: 1.3em;
}

.header.collapsed > .actions-header {
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    border-bottom: 2px solid #fbfbfb;
}

.feedPickerWrapper {
    position: relative;
    display: inline-block;
    border: 2px solid #fbfbfb;
}

.feedPickerButton {
    cursor: pointer;
    border-radius: 0px;
}

.filePicker {
    display: inline-block;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
}

.linkPicker {
    display: none;
}

.filename {
    color: #fbfbfb;
    display: inline-block;
    min-width: 100px;
    max-width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: center;
}

.filterAction, .limitAction {
    max-width: 150px;
    display: inline-block;
}

.ms-choice {
    background-color: #282a2e;
    height: 24px;
    color: #fbfbfb;
}

.ms-drop, .ms-search input[type='text'] {
    background-color: #282a2e;
    background-image: none;
    color: white;
}