body {
    margin: 0px;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.actionsHeader {
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    -webkit-transition:height 1s, padding-bottom 1s, padding-top 1s, border-bottom 1s;
    transition:height 1s, padding-bottom 1s, padding-top 1s, border-bottom 1s;
    background-color: #fbfbfb;
    border-bottom: 2px solid grey;

}

.header.collapsed > .actionsHeader {
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    border-bottom: 2px solid #fbfbfb;
}

.header.expanding > .actionsHeader {
    overflow: hidden;
}

.expandCollapse {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 50%;
    background-color: #fbfbfb;
    padding-left: 3px;
    padding-right: 3px;
}

.header.collapsed > .expandCollapse {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#All_Filters {
    display: none;
}

.headerAction {
    margin-right : 5px;
}

.hidden {
    display: none;
}

.main {
    height: 100%;
}

.log {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: black
}

.sidebar {
    width: 0%;
    background-color: green;
}

.filePickerWrapper {
    position: relative;
    display: inline-block;
    border: 2px solid #0078e7;
}

.filePickerButton {
    cursor: pointer;
}

.filePicker {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
}

#pickedFilename {
    display: inline-block;
    min-width: 100px;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: center;
}

#logFile {
	display: inline-block;
}

.filterAction, .limitAction {
	max-width: 150px;
	display: inline-block;
}

.logLine {
    white-space: pre;
    font-family: "Andale Mono",monospace;
}

.error {
	color: red;
}

.warn {
	color: orange;
}

.info {
	color: dodgerblue;
}

.debug, .trace {
	color: white;
}
