<html>
<head>

    <link rel="stylesheet" href="font-awesome-4.2.0/css/font-awesome.min.css" />
    <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
    <link href="css/lib/pure-min.css" rel="stylesheet">
    <link href="css/lib/multiple-select.css" rel="stylesheet">
    <link href="css/lib/magnific-popup.css" rel="stylesheet">
    <link href="css/lib/jquery.sidr.light.css" rel="stylesheet">
    <link href="css/lib/jsoneditor.min.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">
    <link href="css/actionHeader.css" rel="stylesheet">
    <link href="css/mainView.css" rel="stylesheet">
    <link href="css/console.css" rel="stylesheet">

    <script src="js/lib/jquery-2.1.1.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>

    <script src="js/lib/jsoneditor.min.js"></script>
    <script src="js/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/lib/jszip.min.js"></script>

    <script src="js/lib/jquery.multiple.select.js"></script>
    <script src="js/lib/jquery.magnific-popup.min.js"></script>
    <script src="js/lib/jquery.sidr.min.js"></script>

</head>

<body>
    <div id="main" class="main" active="console-view">
<!--        <div id="emulator-view">
            <div id="emulator" class="mainContent"></div>
        </div>-->
    </div>

    <div id="menu-sidebar">
        <ul>
            <li class="sidebar-menu-item active" data-content-id="console-view" title="Switch to Console (Alt+1)"><a href="#">Console</a></li>
            <li class="sidebar-menu-item" data-content-id="xml-view" title="Switch to XML (Alt+2)"><a href="#">XML</a></li>
            <li class="sidebar-menu-item" data-content-id="json-view" title="Switch to JSON (Alt+3)"><a href="#">JSON Viewer</a></li>
            <li class="sidebar-menu-item" data-content-id="gallery-view" title="Switch to Gallery (Alt+4)"><a href="#">Gallery</a></li>
            <!--<li class="sidebar-menu-item" data-content-id="emulator-view"><a href="#">Emulator</a></li>-->
            <li id="globalFeedback"><a id="feedbackLinkOpener" href="#urlPopup">Open Feedback...</a></li>
        </ul>
    </div>

    <div id="urlPopup" class="white-popup mfp-hide">
        <form id="urlSubmitForm" class="pure-form">
            <fieldset>
                <input class="urlInput" placeholder="Enter Url"/><button id="submitUrl" type="submit" class="pure-button pure-button-primary" title="Submit url"><span class="fa fa-arrow-right"></span></button>
            </fieldset>
        </form>
    </div>

    <div id="shield" class="hidden"></div>

    <script type="text/template" id="headerGenericTemplate">
        <div id="<%= args.actionBarId %>" class="header">
            <div class="actions-header">
                <a id="<%= args.sidebarOpenerId %>" class="menu-sidebar-opener" href="#menu-sidebar"><span class="fa fa-bars"></span></a>
            </div>
        </div>
    </script>

    <script type="text/template" id="headerFeedTemplate">
        <div class="feedPickerWrapper">
            <input id="<%= args.fileId %>" type="file" class="filePicker"/>
            <input id="<%= args.linkId %>" type="text" class="linkPicker"/>
            <a id="<%= args.linkOpenerId %>" href="#urlPopup" class="linkOpener header-action padded-header-action feedPickerButton" title="Open url..."><span class="fa fa-link"></span></a><span class="header-action-section"></span><a href="javascript:void(0)" class="feedPickerButton header-action padded-header-action" onclick="$('#<%= args.fileId %>').click();" title="Open file..."><span class="fa fa-file-text"></span></a><div id="<%= args.filenameId %>" class="filename"></div>
        </div>
    </script>

    <script type="text/template" id="headerFiltersTemplate">
        <select id="<%= args.filtersId %>" multiple></select>
    </script>

    <script type="text/template" id="headerPauseTemplate">
        <a id="<%= args.pauseId %>" href="javascript:void(0)" class="header-action padded-header-action" title="Pause/Resume"><span class="playPauseToggle fa fa-pause"></span></a>
    </script>

    <script type="text/template" id="headerRefreshTemplate">
        <a id="<%= args.clearId %>" href="javascript:void(0)" class="header-action padded-header-action header-remove-action" title="Clear content (Alt+C)"><span class="fa fa-remove"></span></a>
        <a id="<%= args.reloadId %>" href="javascript:void(0)" class="reload header-action padded-header-action" title="Reload file (Alt+R)"><span class="fa fa-refresh"></span></a>
    </script>

    <script type="text/template" id="headerFontTemplate">
        <a id="<%= args.wrapId %>" href="javascript:void(0)" class="wrapText header-action padded-header-action" title="Wrap Text (Alt+W)"><span class="fa fa-align-justify"></span></a>
        <span class="header-action-section"></span>
        <a id="<%= args.incFontId %>" href="javascript:void(0)" class="increaseFontSize header-action padded-header-action" title="Increase font size (Alt+)"><span class="fa fa-plus"></span></a>
        <a id="<%= args.decFontId %>" href="javascript:void(0)" class="decreaseFontSize header-action padded-header-action" title="Decrease font size (Alt-)"><span class="fa fa-minus"></span></a>
        <a id="<%= args.defFontId %>" href="javascript:void(0)" class="decreaseFontSize header-action padded-header-action" title="Reset font size"><span class="fa fa-undo"></span></a>
    </script>

    <script type="text/template" id="headerFavTemplate">
        <a id="<%= args.favId %>" href="javascript:void(0)" class="header-action padded-header-action" title="Next Favorite (F2)"><span class="fa fa-star"></span></a>
    </script>

    <script type="text/template" id="headerReadonlyTemplate">
        <a id="<%= args.readonlyId %>" href="javascript:void(0)" class="header-action padded-header-action" title="Enable editing"><span class="fa fa-pencil"></span></a>
    </script>

    <script type="text/template" id="headerSectionTemplate">
        <span class="header-action-section"></span>
    </script>

    <script type="text/template" id="lineFilterTemplate">
        <% _.each(args.categories, function(category) { %>
        <optgroup label="<%= category %>">
            <% _.each(args.filters[category], function(filter) { %>
            <option value="<%= filter.filterKey %>"><%= filter.name %></option>
            <% }); %>
        </optgroup>
        <% }); %>
    </script>

    <script type="text/template" id="consoleLineTemplate">
        <div type="<%= args.type %>" severity="<%= args.severity %>" class="log-line <%= args.severity %>"  ><%= args.text %></div>
    </script>

    <script src="js/main.js"></script>

    <script src="js/helpers/LineTypes.js"></script>
    <script src="js/helpers/LineFilters.js"></script>
    <script src="js/helpers/LineParsers.js"></script>
    <script src="js/helpers/ViewBuilder.js"></script>

    <script src="js/models/ActionBar.js"></script>
    <script src="js/views/ActionBar.js"></script>

    <script src="js/models/DataFeed.js"></script>
    <script src="js/views/DataFeed.js"></script>
    <script src="js/models/FileFeed.js"></script>
    <script src="js/views/FileFeed.js"></script>
    <script src="js/models/LinkFeed.js"></script>
    <script src="js/views/LinkFeed.js"></script>

    <script src="js/models/LineFilter.js"></script>
    <script src="js/views/LineFilter.js"></script>

    <script src="js/views/MenuSidebar.js"></script>

    <script src="js/models/ConsoleLine.js"></script>
    <script src="js/views/ConsoleLine.js"></script>
    <script src="js/collections/ConsoleLines.js"></script>
    <script src="js/views/ConsoleLines.js"></script>

    <script src="js/views/Editor.js"></script>
    <script src="js/views/jsonViewer.js"></script>
    <script src="js/views/galleryViewer.js"></script>
</body>

</html>