<a id="<%= args.wrapId %>" href="javascript:void(0)" class="wrapText header-action padded-header-action" title="Wrap Text (Alt+W)"><span class="fa fa-align-justify"></span></a>
<span class="header-action-section"></span>
<a id="<%= args.incFontId %>" href="javascript:void(0)" class="increaseFontSize header-action padded-header-action" title="Increase font size (Alt+)"><span class="fa fa-plus"></span></a>
<a id="<%= args.decFontId %>" href="javascript:void(0)" class="decreaseFontSize header-action padded-header-action" title="Decrease font size (Alt-)"><span class="fa fa-minus"></span></a>
<a id="<%= args.defFontId %>" href="javascript:void(0)" class="decreaseFontSize header-action padded-header-action" title="Reset font size"><span class="fa fa-undo"></span></a>
